@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");

:root {
  --bg: #202020;
  --white: #eeeeee;
  --muted: #999999;
  --green: #00ff47;
  --line: rgba(255, 255, 255, 0.1);
  --display: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--bg);
  color: var(--white);
  font-family: "Inter", sans-serif;
}

button,
a {
  font: inherit;
}

button {
  border: 0;
  background: none;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}


/* =========================================
   PAGE
========================================= */

.site1 {
  position: relative;
  /* overflow: hidden; */
  background: var(--bg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.section1 {
  position: relative;
  /* z-index: 2; */

  width: min(1080px, calc(100% - 48px));

  min-height: 90vh;

  margin: 0 auto;
  padding: 75px 0 100px;
  background: #202020;
}


.contact {
  display: flex;

  align-items: flex-end;
  justify-content: center;

  min-height: 50vh;

  padding-bottom: 30px;
}

.contact-inner {
  text-align: center;
}

.contact-question {
  display: block;

  margin-bottom: 12px;

  color: #999;

  font-size: 16px;
}

.contact-email {
  display: block;

  color: #ddd;

  font-family: var(--display);

  font-size: 36px;

  transition: color 0.25s;
}

.contact-email:hover {
  color: var(--green);
}

.contact-inner p {
  margin-top: 16px;

  color: white;
  font-weight: 500;

  font-size: 16px;
  margin-bottom: 10px;
}

.contact-stats {
  display: flex;

  justify-content: center;

  gap: 20px;

  margin-top: 8px;

  color: #777;

  font-size: 12px;
}

.contact-social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.contact-social a,
.tech-icon1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.tech-icon1{
  height: 25px;
  width: 25px;
}

@media (max-width: 480px) {
  .contact-email{
    font-size: 30px;
  }
}

/* =========================================
   SCROLL REVEAL
========================================= */

.about-reveal,
.about-text-reveal,
.stack-heading,
.stack-category,
.tech-item,
.contact-reveal {
  will-change: transform, opacity;
}