@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&family=Oswald:wght@400;500;600;700&display=swap");

@import "tailwindcss";

:root{
    font-family: "DM Sans", sans-serif;
    color: #111111;
    background: #17100b;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    min-width: 320px;
    min-height: 100vh;
    overflow-x: hidden;
}

button, a{
    -webkit-tap-highlight-color: transparent;
}

button{
    font-family: inherit;
}

/* hero section */

.hero-section{
    position: relative;
    /* width: calc(100% - 12px);
    min-height: calc(100vh - 12px); */
    width: 100%;
    min-height: 100vh;
    /* margin: 6px; */
    overflow: hidden;

    /* border: 1px solid rgba(255, 255, 255, 0.35);
    border-radius: 25px; */

    background:
    radial-gradient(
        circle at 42% 54%,
        rgba(255, 176, 35, 0.95) 0%,
        rgba(255, 108, 0, 0.95) 35%,
        rgba(170, 46, 0, 0.98) 100%
    );

    box-shadow:
    inset 0 0 100px rgba(0, 0, 0, 0.12),
    0 0 40px rgba(0, 0, 0, 0.18);
}

.orange-shape-one{
    position: absolute;
    width: 440px;
    height: 280px;
    top: -135px;
    left: 22%;
    border-radius: 50%;
    background: rgba(255, 122, 0, 0.45);
    transform: rotate(24deg);
    filter: blur(2px);
}

.orange-shape-two{
    position: absolute;
    width: 280px;
    height: 440px;
    left: 24%;
    bottom: -180px;
    border-radius: 50%;
    background: rgba(255, 159, 35, 0.32);
    transform: rotate(25deg);
    filter: blur(2px);
}

.orange-glow{
    position: absolute;
    width: 550px;
    height: 550px;
    left: 8%;
    top: 20%;
    border-radius: 50%;
    background: rgba(255, 174, 0, 0.16);
    filter: blur(80px);
    pointer-events: none;
}

